h1 {
    font-size: x-large;
    text-align: center;
  }

input[type=button] {
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
}

input[type=number] {
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
    margin-right: 3px;
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
}

@media screen and (max-width:700px){
    .headerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto;
    }
}

@media screen and (min-width:10000px){
    .headerGrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-row: auto;
    }
}

  .gridItem a{
      display:flex;
      color: #000000;
      background-color: #e1e1e1;
      border: 1px solid #808080;
      text-align: left;
      align-items:center;
      text-decoration: none;
      margin: 2px;
      padding: 15px;
  }

  .gridItem a:hover {
    background-color: #cccccc;
  }
  

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: right;
    border-top: 2px solid #dddddd;
}

.navigateButtons {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    padding: auto;
    justify-content: space-around;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    height: 20px;
}

tr:nth-child(odd) a{
    width: 100%;
    height: 100%;
    display: flex;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
    align-items: center;
    text-decoration: none;
}

tr:nth-child(odd) a:hover{
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even) a{
    width: 100%;
    height: 100%;
    display: flex;
    color: #000000;
    background-color: #dddddd;
    text-align: left;
    align-items: center;
    text-decoration: none;
}

tr:nth-child(even) a:hover{
    background-color: #ffffff;
}

.verticalList {
    width: auto;
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
  }
  
  .verticalList a {
    display: block;
    padding: 3px;
  }
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modalContent {  
    margin: auto;
    width: 80%;
  }
  
  /* The Close Button */
  .closeButton {
    color: #000000;
    float: right;
    font-size: 100px;
    font-weight: bold;
  }
  
  .closeButton:hover,
  .closeButton:focus {
      color: #222222;
      text-decoration: none;
      cursor: pointer;
  }
  
  /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  iframe {
    width: 75vw; 
    height: 42.1875vw; /* 100/56.25 = 1.778 */
    max-height: 75vh;
    max-width: 133.3333vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;
    bottom:0; /* vertical center */
    left:0;
    right:0; /* horizontal center */
    background-color: transparent;
  }