h1 {
    font-size: x-large;
    text-align: center;
}

h2 {
    font-size: large;
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: right;
    border-top: 2px solid #dddddd;
}

.inactiveText {
    color: red;
}

.highlightText {
    color: mediumblue;
    font-weight: 700;
}

input[type=button] {
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
}

input[type=number] {
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
    margin-right: 3px;
}

th input[type=text] {
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
    margin-right: 3px;
    margin-top: 5px;
    width: 100px;
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
}

@media screen and (max-width:800px) {
    .headerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto;
    }
}

@media screen and (min-width:1000px) {
    .headerGrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-row: auto;
    }
}

.gridItem a {
    display: flex;
    color: #000000;
    background-color: #e1e1e1;
    border: 1px solid #808080;
    text-align: left;
    align-items: center;
    text-decoration: none;
    margin: 1px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.gridItem a:hover {
    background-color: #cccccc;
}

.evenlySpacedGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    margin: 3px;
    align-items: center;
}

/* copied from here https://stackoverflow.com/a/14537979/11947017 */
.searchItem {
    overflow:hidden;
}

.searchItem span {
    display: block;
    overflow: hidden;
    padding: 0 5px
}

.searchBox {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 34px;
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
}

.searchButton {
    float: right;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 3px solid #636363;
    border-radius: 5px;
}

.searchButton:hover {
    background-color: #cccccc;
}

.navigateButtons {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    padding: auto;
    justify-content: space-around;
    align-items: center;
}

.calendar {
    border-collapse: collapse;
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* table related elements */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

thead tr th {
    position:sticky;
    top:0;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    height: 20px;
}

th {
    font-size: larger;
    color: white;
    background-color:#636363;
}

th:first-child {
    font-size: larger;
    color: white;
    background-color:#636363;
}

tr:nth-child(odd) a {
    width: 100%;
    height: 100%;
    display: flex;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
    align-items: center;
    text-decoration: none;
}

tr:nth-child(odd) a:hover {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even) a {
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    background-color: #dddddd;
    text-align: left;
    align-items: center;
    text-decoration: none;
}

tr:nth-child(even) a:hover {
    background-color: #ffffff;
}

.verticalList {
    width: auto;
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.verticalList a {
    display: block;
    padding: 3px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    margin: auto;
    width: 80%;
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.modalContent iframe {
    width: 75vw;
    height: 42.1875vw;
    max-height: 75vh;
    max-width: 133.3333vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0; /* vertical center */
    left: 0;
    right: 0; /* horizontal center */
    background-color: transparent;
}

@media screen and (max-width:800px) {
    .modalContent iframe {
        width: 90vw;
        height: 50.625vw;
        max-height: 90vh;
        max-width: 160vh;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0; /* vertical center */
        left: 0;
        right: 0; /* horizontal center */
        background-color: transparent;
    }
}

/* The Close Button */
.closeButton {
    color: #000000;
    float: right;
    font-size: 100px;
    font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

.displayName {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    align-items: center;
}

.displayName .profileImg {
    width: 88px;
    height: 88px;
    border: 1px solid black;
    border-radius: 50%;
}

.displayName span {
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
    text-align: left;
}

.channelLink {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.channelLink .YouTubeImg {
    content:url(/icon/youtube_social_circle_dark.png);
    width: 48px;
    height: 48px;
}

.channelLink .TwitchImg {
    content:url(/icon/TwitchGlitchBlackOps.png);
    width: 48px;
    height: 48px;
}

@media screen and (max-width:800px) {
    .displayName {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .displayName .profileImg {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .displayName span {
        display: flex;
        margin: auto;
        width: 88px;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .channelLink {
        display: flex;
        margin: auto;
        margin-top: 3px;
        margin-bottom: 3px;
        width: auto;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .channelLink .YouTubeImg {
        width: 40px;
        height: 40px;
    }
    
    .channelLink .TwitchImg {
        width: 40px;
        height: 40px;
    }
}
