h1 {
    font-size: x-large;
    text-align: center;
  }

input[type=button] {
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
}

input[type=number] {
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
    margin-right: 3px;
}

.horizontalHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #dddddd;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: right;
    border-top: 2px solid #dddddd;
}

.navigateButtons {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    padding: auto;
    justify-content: space-around;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.verticalList {
    width: auto;
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
  }
  
  .verticalList a {
    display: block;
    padding: 3px;
  }
  