input[type=button] {
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
}

input[type=number] {
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
    margin-right: 3px;
}

.navigateButtons {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    padding: auto;
    justify-content: space-around;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.verticalList {
    width: auto;
    padding: 5px;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
  }
  
  .verticalList a {
    display: block; /* Make the links appear below each other */
    padding: 3px; /* Add some padding */
  }
  